body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

h1, h2 {
    color: #007BFF;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#skill-search {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.dark-mode li {
    background: #555;
}
